<ul class="posts">
  {% assign itemList = collections.tagList[tag] | sort: "date" | reverse %}
{% for item in itemList %}
    {% if forloop.index <= preview_count %}
      <li class="post_media d-flex">
        <a class="flex-shrink-0" href="{{ item.url }}">{% thumbnail_for_post item %}</a>
        <div class="flex-grow-1 ms-3">
          <div class="mt-0"><span class="post_date">{{ item.date | date: '%d %b %Y' }}</span> &raquo;
            <a class="post_title" href="{{ BASE_PATH }}{{ item.url }}">{{ item.data.title }}</a>
          </div>
          {{ item | excerpt | strip_html }}<a href="{{ BASE_PATH }}{{ item.url }}">more...</a>
        </div>
      </li>
    {% else %}
    <li class="post_summary d-flex">
      <div class="mt-0"><span class="post_date">{{ item.date | date: '%d %b %Y' }}</span> &raquo;
          <a class="post_title" href="{{ item.url }}">{{ item.data.title }}</a>
      </div>
    </li>
    {% endif %}
{% endfor %}
</ul>
