{% comment %}<!--
Collate_posts helper. Collated posts by year and month.
Usage:
  1) assign the 'posts_collate' variable to a valid array of posts.
  2) include JB/posts_collate
  example:
    {% assign posts_collate = site.posts %}
    {% include JB/posts_collate %}

  Ordering:
    Posts are displayed in reverse chronological order.
    For normal chronological order:
      1) Change the for loop to this:
        => 'for post in site.posts reversed'
      2) Next make sure to change 'post.previous.date' to:
        => 'post.next.date'

-->{% endcomment %}

{% assign itemsByYear = posts_collate | group_by_year %}
{% for yearGroups in itemsByYear %}
  <h2>{{ yearGroups.year }}</h2>
  <ul>

  {% for item in yearGroups.items | with_titles %}
    <li><span>{{ item.date | date: "%B %e, %Y" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ item.url }}">{{ item.data.title }}</a>
    {% if forloop.index < 4 %}<p>{{ item | excerpt }}</p><p class="clearfix"> </p>{% endif %}</li>
  {% endfor %}
  </ul>
{% endfor %}
