---
title : RSS Feed
permalink: /rss.xml
theme:
    name: orionrobots
---
{%- capture BASE_PATH %}{{ site.production_url }}{% endcapture -%}
{% capture ASSET_PATH %}{{ BASE_PATH }}/assets/themes/{{ theme.name }}{% endcapture -%}
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
    <title>{{ site.title }}</title>
    <description>{{ site.title }} - {{ site.tagline }}</description>
    <link>{{ site.production_url }}</link>
    <language>en-gb</language>
    <lastBuildDate>{{ now | to_utc_string }}</lastBuildDate>
    <pubDate>{{ now | to_utc_string }}</pubDate>
    <ttl>1800</ttl>
    <image>
            <url>{{ ASSET_PATH }}/images/social-banner.jpg</url>
            <title>{{ site.title }}</title>
            <link>{{ site.production_url }}</link>
    </image>
{%- assign posts = collections.all | reverse | with_explicit_date -%}
{%- for post in posts -%}
    <item>
        <title>{{ post.data.title }}</title>
        <description>{{ post | excerpt |  strip_html }}</description>
        <link>{{ site.production_url }}{{ post.url }}</link>
        <guid>{{ site.production_url }}{{ post.url }}</guid>
        <pubDate>{{ post.date | to_utc_string }}</pubDate>
    </item>
{%- endfor -%}
</channel>
</rss>
